{% load static %}

<html lang="en">
<head>
  <title>{% block title %} Stuck in Highschool Sportsbook {% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}/>
</head>
<body>
    <div class='nav-background'>
        <div class='max-width'>
            <div class='nav-container nav-background'>
                <div class='logo-nav'>
                    <div>
                        <img src={% static 'images/fishershse.jpg' %} alt="" height='40'>
                    </div>
                    <div>
                        <a class='style-nav' href="#">Stuck in Highschool Sportsbook</a>
                    </div>
                </div>
                <div class='content-nav'>
                    <a class='btn-style-nav style-nav' href='/'}>Home</a>
                    <a class='btn-style-nav style-nav' href="#">Stats</a>
                    <a class='btn-style-nav style-nav' href="/teams/">Teams</a>
                    <a class='btn-style-nav style-nav' href="#">Bets</a>
                    <a class='btn-style-nav style-nav' href="#">History</a>
                </div>
                <div class='account-nav'>
                    <div class='account-container'>
                        {% comment %} <div class='account-picture'>
                            <img onclick='dropDown()' class ='account-btn circle-square' src={%static 'images/barrack.jpg' %} alt="", height ='80'>
                            <div id='account-dropdown' class='dropdown-content'>
                                <a href="#">Register</a>
                                <a href="#">Profile</a>
                                <a style='border-top: 1px solid black'href="#">Sign Out</a>
                            </div>
                        </div>                        
                        <div onclick='dropDown()'class='account-btn account-arrow'>
                            V
                        </div> {% endcomment %}

                        {% comment %} <div class='account-picture'>
                            <a href="/login/">Sign-in or Register</a>
                        </div> {% endcomment %}
                        {% if user.is_authenticated %}
                            <div class='account-picture'>
                                <div>
                                    ${{request.user.proxy.balance}}
                                </div>
                                <div>
                                    Hello, {{request.user}}
                                </div>                                
                            </div>
                            <div style='margin-left: 20px'>
                                <a href="/logout/">Logout</a>
                            </div>
                        {% else %}
                            <div class='account-picture'>
                                <a href="/login/">Sign-in or Register</a>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    <div style='text-align: center; margin-right: 5%; margin-top: 5%'>
        <h5> Last Roster and Projection Update: {{lastUpdate}}</h5>
    </div>

    <script type='text/javascript' src={% static 'js/script.js' %}></script>
</body>