{% extends 'main/base.html' %}
{% load static %}



{% block title %}
SIH Sportsbook
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'css/betting.css' %}/>
    <h1>Matchups</h1>

        {% for match in matchups %}
            Matchup {{match.matchupId}}
            <div class='betting-grid-container'>
                <div>
                    {{match.team1.funName}}
                </div>
                <div>
                    {{match.overUnder}}
                </div>
                <div>
                    {{match.spreadT1}}
                </div>
                <div>
                    {{match.team1Ml}}
                </div>
                <div>
                    {{match.team2.funName}}
                </div>
                <div>
                    {{match.overUnder}}
                </div>
                <div>
                    {{match.spreadT1}}
                </div>
                <div>
                    {{match.team2Ml}}
                </div>
            </div>
        {% endfor %}
{% endblock %}
