{% extends 'main/base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
{% load static %}
    <form method='POST' action="">
        {% csrf_token %}
        <div style='text-align: center'>
            {{form.username.label}}
            {{form.username}}
        </div>
        <div style='text-align: center'>
            {{form.email.label}}
            {{form.email}}
        </div>
        <div style='text-align: center'>
            {{form.password1.label}}
            {{form.password1}}
        </div>
        <div style='text-align: center'>
            {{form.password2.label}}
            {{form.password2}}
        </div>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <div style='text-align: center'>
            <input type="submit" name='Create User'>
        </div>
    </form>
{% endblock %}
