{% extends 'main/base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
{% load static %}
    <form method='POST' action="">
        {% csrf_token %}
        <div>
            {{form.username.label}}
            {{form.username}}
        </div>
        <div>
            {{form.email.label}}
            {{form.email}}
        </div>
        <div>
            {{form.password1.label}}
            {{form.password1}}
        </div>
        <div>
            {{form.password2.label}}
            {{form.password2}}
        </div>
        <div>
            {{form.sleeperId.label}}
            {{form.sleeperId}}
        </div>
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        <div >
            <input type="submit" name='createUser' value='Create User'>
        </div>
    </form>
{% endblock %}
