
.betting-grid-container {
    display: grid;
    margin: 5px;
    grid-template-columns: 30% 23% 23% 23%;
    grid-row: row;
    gap: 3px;
}

.betting-grid-margin {
    margin: 0 auto;
    max-width: 1440px;
}