

.betting-grid-container {
    display: grid;
    padding: 15px;
    grid-template-columns: 55% 15% 15% 15%;
    grid-row: row;
    gap: 5px;
    border: 1px solid black;
}

.grey-color {
    background: rgb(48, 48, 48);
    padding-top: 1%;
    padding-bottom: 1%;
}

.betting-container {
    display: flex;
    background-color: rgb(48, 48, 48);
    padding-right: 2%;
}

.center-text {
    text-align: center;
}

.betting-max-width {
    max-width: 900px;
}

.teams-container {
    flex: 1.3;
    text-align: left;
    margin: 5;
    padding-left: 5%;
}

.lines-container {
    display: flex;
    flex: 3;
    text-align: center;
}

.flex1 {
    flex:1;
    background-color: rgb(144, 144, 145);
    margin: 2px;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.total-spread-moneyline {
    flex: 1;
    padding-top: 2%;
    padding-bottom: 1%
}

.totalSpread {
    display: flex;
}

.line {
    flex: 1;
    text-align: right;
    padding-right: 8%;
}

.vig {
    flex: 1;
    text-align: left;
    padding-left: 8%;
}

.break-line {
    margin-left: 2%;
    margin-right: 2%;
    padding: 1px;
    background: white;
}

.bet-selected {
    background-color: pink;
}