/* * {
    border: solid 1px red;
  }

div {
    border: 1px solid blue;
} */

body,html {
  background-color: rgb(10, 10, 10);
  margin:0;
  padding:0;
  color: white;
}

a {
  text-decoration: None;
  color: white;
}

.logo-text {
  inline-size: 5;
  overflow-wrap: break-word;
  font-size: 22;
  color: white;
}

.max-width {
  max-width: 1440px;
  margin-right: 10%;
  margin-left: 12%
}

.nav-container {
  display: flex;
  padding: 0%;
}

.nav-background {
  background-color: grey;
  left:0;
}

.logo-nav {
  display: flex;
  flex:1;
  margin: auto;
  text-align: center;
}

.content-nav {
  
  flex: 4;
  margin:auto;
  text-align: center;
}

.account-nav {
  flex: 1;
  text-align: center;
  margin: auto;  
}

.style-nav {
  color:black;
  font-size: 100%;
}

.btn-style-nav {
  margin: 2%;
  font-size: 150%;
}

.account-container {
  display: flex;
}

.account-picture {
  flex:4;
  text-align: right;
}

.account-arrow{
  flex:1;
  text-align: center;
  margin: auto;
}

.circle-square {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.account-btn {
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: red}

.show {display:block;}
